*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  background-color: rgb(10,12,14);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

#nav{
  list-style-type: none ;
  width: 50%;
  display: flex;
}

li.navb{
  margin: 1% 4% 0% 1%;
  padding: 0%;
  align-self: center;
}

a.navb{
  text-decoration: none;
  font-family: cursive;
  color: white;
  text-align: center;
  font-size: 1vw;
}

a.navb:hover{
  text-decoration: none;
  color: black;
}

.logo{
  width: 50%;
  align-self: flex-end;
}

.logo img{
  width: 9%;
  float: right;
  align-self: center;
}

.background{
  background: url('Images/nv.jpg');
  max-width: 100%;
}
.background1{
  background: rgba(0,0,0,0.7) url('Images/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#home{
  height: 100vh;
}

#greet{
  text-align: left; 
  padding: 11% 0% 1% 39%;
  font-size: 5.2vw;
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
}

#nm{
  text-align: center;
  padding: 1.5% 7.2% 1% 0%;
  font-size: 8vw;
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
}

#qts{
  padding: 4% 0% 0% 20%;
}

.qt{
  font-size: 1.7vw;
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
}

#a1{
  animation: fade-in 3s ease-in-out 1s 1 forwards;
}

#a2{
  animation: fade-in 3s ease-in-out 4s 1 forwards;
}

#a3{
  animation: fade-in 3s ease-in-out 7s 1 forwards;
}

@keyframes fade-in {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.background2{
  background: rgba(0,0,0,0.7) url('Images/abtbckg.jpg');
  background-size: cover;
  width: 100vw;
  height: 80vh;
}

#about{
  display: flex;
  height: 80vh;
}

#prpic{
  border-radius: 50%;
  width: 86.1vw;
  height: 56.1vh;
  align-self: center;
  padding: 1%;
}

#abtinfo{
  padding: 2.5% 1% 0% 4%;
}

#hd{
  padding: 0% 0% 1%;
  text-align: center;
  font-family: cursive;
  font-size: 5vw;
}

#info{
  padding: 0%;
  text-align: justify;
  font-family: cursive;
  font-size: 1.5vw;
}

.background3{
  background: rgba(0,0,0,0.7) url('Images/edubckg.jpg');
  background-size: cover;
  width: 100vw;
  height: 94vh;
}

#edu{
  height: 94vh;
}

#head{
  font-family: cursive;
  font-size: 4.3vw;
  padding: 1% 0% 1% 0%;
}

.eduhd{
  font-family: cursive;
  font-size: 2.3vw;
  padding: 0%;
}

.eduli{
  font-family: cursive;
  font-size: 1.3vw;
  padding: 1% 0% 1% 2%;
  list-style-type: disc;
}

.klslink{
  text-decoration: none;
}

.background4{
  background: rgba(0,0,0,0.7) url('Images/skbckg.jpg');
  background-size: cover;
  width: 100vw;
  height: 60vh;
}

#skill{
  height: 60vh;
}

.skhd{
  font-family: cursive;
  font-size: 2.3vw;
  padding: 0%;
}

.skli{
  font-family: cursive;
  font-size: 1.5vw;
  padding: 1% 0% 1% 2%;
  list-style-type: disc;
}

.hkrlink{
  text-decoration: none;
}

#contact{
  height: 50vh;
}

#cnthd{
  text-align: center;
  font-family: cursive;
  font-size: 3.2vw;
}

#cntinfo{
  display: flex;
  padding: 3%;
}

#ad{
  width: 33%;
  border-right-width: 2px;
  border-right-color: rgb(33, 194, 239);
  font-family: cursive;
  font-size: 1.7vw;
  text-align: center;
}

#no{
  width: 33%;
  font-family: cursive;
  font-size: 1.7vw;
  text-align: center;
  margin: 0%;
}

#em{
  width: 33%;
  font-family: cursive;
  font-size: 1.7vw;
  text-align: center;
}

.background5{
  background: rgba(0,0,0,0.7) url('Images/cntbck.jpg');
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background-color: #E1306C;
  color: #fff;
}

.fa-linkedin {
  background-color: #0077B5;
  color: #fff;
}