*{
  margin: 0;
  padding: 0;
  border-radius: 0%;
}

.navbar{
  display: flex;
  background-color: rgb(10,12,14);
}

#nav{
  list-style-type: none ;
  width: 50%;
  display: flex;
}

li.navb{
  margin: 1% 4% 0% 1%;
  align-self: center;
}

a.navb{
  font-family: Georgia, serif;
  color: #4976d8;
}

a.navb:hover{
  text-decoration: none;
  color: ;
}

.logo{
  width: 50%;
}

.logo img{
  width: 9%;
  float: right;
  align-self: center;
}

.background1{
  background: rgba(0,0,0,0.7) url('Images\background1.jpeg');
  background-size: cover;
  background-blend-mode: darken;
}